<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EyeF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EyeH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>EyeJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>EyeP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EyePerspect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EyeT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>EyeY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>appEyeF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>appEyeJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>appEyeX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>appEyeY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C4D67761BD7F9DC0053B2F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C4D67851BD805640053B2F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C4D67941BD8068B0053B2F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C6A7F571B8F6102007EC0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C6C78381B89C1EC00FA2687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C6C78441B89C77F00FA2687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C6C78541B8ABD0800FA2687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C6C78651B8B149F00FA2687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA5F2411BDCA6D40018CCF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA5F24F1BDCA6D40018CCF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA5F25A1BDCA6D40018CCF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC162CA1BDA896D00D5F737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE581341B92A9FF0074482E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
